<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
          name="viewport">
    <title>Fans &rsaquo; Fans &mdash; ZERO</title>

</head>

<body>
<div>
    <section class="section">
        <h1 class="section-header">
            <div th:text="#{fans}">Fans</div>
        </h1>
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4><span th:text="#{fans.list}"></span></h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="fans" class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th th:text="#{fans.nick.name}">Nick Name</th>
                                        <th th:text="#{fans.remark}">Remark</th>
                                        <th th:text="#{fans.gender}">Gender</th>
                                        <th th:text="#{fans.heading.img}">Heading Image</th>
                                        <th th:text="#{fans.group}">Group</th>
                                        <th th:text="#{location}">Location</th>
                                        <th th:text="#{fans.subscribe.time}">Subscribe Time</th>
                                        <th th:text="#{operation}">Operation</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                        <!-- edit dialog -->
                        <div id="edit_dialog" role="dialog" class="modal fade" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" th:text="#{edit}"></h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="control-group">
                                                <label for="fans_remark" class="control-label"
                                                       th:text="#{fans.remark}"></label>
                                                <div class="controls">
                                                    <input name="name" id="fans_remark" value="" class="form-control"
                                                           th:placeholder="#{fans.remark}" required autofocus>
                                                </div>
                                            </div>
                                            <input type="hidden" name="fans_open_id" id="fans_open_id" value="">
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" id="edit_cancel"
                                                data-dismiss="modal" th:text="#{cancel}"></button>
                                        <button type="button" class="btn btn-primary" id="confirm_update"
                                                th:text="#{update}"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $(function () {
        zero.loadI18nProps();
        var _parent_body = $(window.top.document.body);

        var fans = zero.dataTable("#fans", {
            "ajax": {
                "type": "POST",
                "url": "/fans",
                "data": function (dt) {
                }
            },
            "columns": [
                {data: "nickName"},
                {data: "remark"},
                {data: "gender"},
                {data: "headingImgUrl"},
                {data: "groupNames"},
                {data: null},
                {data: "subscribeTime"},
                {data: null}
            ],
            "columnDefs": [
                {
                    "targets": -1,
                    "render": function (data, type, full, meta) {
                        var html = "<a href='javascript:void(0)' value='" + full.openId + "' class='btn btn-sm btn-primary' " +
                            "data-id='" + data.id + "' data-toggle='modal' data-target='edit_dialog'>" +
                            "<i class='ion ion-edit'></i>&nbsp;<span>" + zero.getI18nProp("edit") + "</span></a>";

                        return html;
                    }
                },
                {
                    "targets": 3,
                    "render": function (data, type, full, meta) {
                        var html = "<img alt='image' src=' " + full.headingImgUrl +
                            "' class='rounded-circle' width='35' data-toggle='title' title='" + full.remark + "'>";

                        return html;
                    }
                },
                {
                    "targets": 2,
                    "render": function (data, type, full, meta) {
                        var gender_ion = (full.gender === 1) ? "ion-male" : ((full.gender === 2) ? "ion-female" : "");
                        var gender_format = (full.gender === 1) ? zero.getI18nProp("gender.male") :
                            ((full.gender === 2) ? zero.getI18nProp("gender.female") : zero.getI18nProp("gender.unknown"));

                        var html = (gender_ion === "") ? "<i>" : "<i class='" + gender_ion + "'>";
                        html += "</i><span>" + gender_format + "</span>";

                        return html;
                    }
                },
                {
                    "targets": 5,
                    "render": function (data, type, full, meta) {
                        return full.country + " / " + full.province + " / " + full.city;
                    }
                }
            ]
        });

        <!-- -->
        <!-- buttons in each row -->
        <!-- -->
        $("#fans tbody").on("click", "a.btn-primary", function () {
            var open_id = $(this).val();
            $("#fans_open_id").attr("value", open_id);

            $("#edit_dialog").modal("toggle");
            $("#edit_dialog").appendTo(_parent_body);
        });

        <!-- -->
        <!-- update button clicked -->
        <!-- -->
        $("#confirm_update").on("click", function () {
            var open_id = $("#fans_open_id").val();
            var remark = $("#fans_remark").val();

            $.ajax({
                type: "POST",
                url: "/fans/" + open_id,
                data: {
                    remark: remark
                },
                dataType: "json",
                beforeSend: function () {
                    $(this).attr("disabled", "disabled");
                    $(this).attr("th:text", zero.getI18nProp("processing"));
                },
                success: function (data) {
                    if (data.status_code == 0) {
                        revertBack("confirm_update", zero.getI18nProp("update"));
                        $("#edit_dialog").modal("toggle");
                        fans.ajax.reload();
                    }
                },
                error: function (data) {
                    console.error("Failed to update the remark to " + remark + ", with error " + data.responseText);
                }
            });
        });

        function revertBack(elem_id, th_text) {
            $("#" + elem_id).attr("disabled", false);
            $("#" + elem_id).attr("th:text", th_text);
        }

    });
</script>
</body>
</html>