<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
          name="viewport">
    <title>Dashboard &mdash; Zero</title>

    <link rel="stylesheet" th:href="@{/static/modules/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/modules/tempusdominus-bootstrap4/css/tempusdominus-bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/static/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/modules/datatables/DataTables-1.10.20/css/datatables.min.css}">
    <link rel="stylesheet" th:href="@{/static/modules/datatables/Select-1.2.4/css/select.bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/modules/ionicons/css/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/static/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/static/modules/summernote/summernote-lite.css}">
    <link rel="stylesheet" th:href="@{/static/modules/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/demo.css}">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">

    <script th:src="@{/static/modules/jquery.min.js}"></script>
    <script th:src="@{/static/modules/popper.js}"></script>
    <script th:src="@{/static/modules/tooltip.js}"></script>
    <script th:src="@{/static/modules/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/static/modules/moment.min.js}"></script>
    <script th:src="@{/static/modules/moment-with-locales.js}"></script>
    <script th:src="@{/static/modules/tempusdominus-bootstrap4/js/tempusdominus-bootstrap4.min.js}"></script>
    <!--<script th:src="@{/static/modules/datatables/DataTables-1.10.16/js/jquery.dataTables.js}"></script>-->
    <script th:src="@{/static/modules/datatables/DataTables-1.10.20/js/datatables.min.js}"></script>
    <script th:src="@{/static/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.js}"></script>
    <script th:src="@{/static/modules/datatables/Select-1.2.4/js/dataTables.select.js}"></script>
    <script th:src="@{/static/modules/nicescroll/jquery.nicescroll.min.js}"></script>
    <script th:src="@{/static/modules/scroll-up-bar/dist/scroll-up-bar.min.js}"></script>
    <script th:src="@{/static/js/sa-functions.js}"></script>

    <script th:src="@{/static/modules/chart.min.js}"></script>
    <script th:src="@{/static/modules/summernote/summernote-lite.js}"></script>
</head>

<body>
<div id="app">
    <div class="main-wrapper">
        <div class="navbar-bg"></div>
        <nav class="navbar navbar-expand-lg main-navbar">
            <form class="form-inline mr-auto">
                <ul class="navbar-nav mr-3">
                    <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i
                            class="ion ion-navicon-round"></i></a></li>
                    <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i
                            class="ion ion-search"></i></a></li>
                </ul>
            </form>
            <ul class="navbar-nav navbar-right">
                <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
                                                             class="nav-link notification-toggle nav-link-lg beep"><i
                        class="ion ion-ios-bell-outline"></i></a>
                    <div class="dropdown-menu dropdown-list dropdown-menu-right">
                        <div class="dropdown-header"><span th:text="#{notifications}">Notifications</span>
                            <div class="float-right">
                                <a href="#" th:text="#{view.all}">View All</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
                    <i class="ion ion-android-person d-lg-none"></i>
                    <div class="d-sm-none d-lg-inline-block" sec:authentication="name"></div>
                </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a th:href="@{/user/profile}" class="dropdown-item has-icon">
                            <i class="ion ion-android-person"></i> <span th:text="#{user.profile}">Profile</span>
                        </a>
                        <a th:href="@{/logout}" class="dropdown-item has-icon">
                            <i class="ion ion-log-out"></i> <span th:text="#{user.logout}">Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="main-sidebar">
            <aside id="sidebar-wrapper">
                <div class="sidebar-brand">
                    <a th:href="@{/index}">Zero Admin</a>
                </div>
                <div class="sidebar-user">
                    <div class="sidebar-user-picture">
                        <img alt="image" th:src="@{/static/img/avatar/avatar-1.jpeg}">
                    </div>
                    <div class="sidebar-user-details">
                        <div class="user-name" sec:authentication="name"></div>
                        <div class="user-role" th:text="${#strings.substring(#authentication.principal.authorities,
                    #strings.indexOf(#authentication.principal.authorities, '_') + 1, #strings.length(#authentication.principal.authorities) - 1)}"></div>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="menu-header" th:text="#{dashboard}">dashboard</li>
                    <li class="active">
                        <a href="#" th:value="@{/dashboard}"><i class="ion ion-speedometer"></i><span th:text="#{dashboard}">dashboard</span></a>
                    </li>

                    <li class="menu-header" th:text="#{components}">components</li>
                    <li>
                        <a href="#" class="has-dropdown"><i class="ion ion-person-stalker"></i><span th:text="#{fans.management}">Fans Management</span></a>
                        <ul class="menu-dropdown">
                            <li><a href="#" th:value="@{/fans}"><i class="ion ion-person"></i><span th:text="#{fans.info}">Fans Info</span></a></li>
                            <li><a href="#" th:value="@{/group}"><i class="ion ion-briefcase"></i><span th:text="#{fans.group.management}">Group Management</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="has-dropdown"><i
                                class="ion ion-ios-list-outline"></i><span th:text="#{customized.menu.management}">Customized Menu Management</span></a>
                        <ul class="menu-dropdown">
                            <li><a href="#" th:value="@{/menu}"><i class="ion ion-grid"></i><span th:text="#{customized.menu.menus}">Menu List</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="has-dropdown"><i class="ion ion-chatbubbles"></i><span th:text="#{message.management}">Message Management</span></a>
                        <ul class="menu-dropdown">
                            <li><a href="#" th:value="@{/message}"><i class="ion ion-grid"></i><span th:text="#{message.messages}">Message List</span></a></li>
                            <li><a href="#" th:value="@{/sendings}"><i class="ion ion-chatbox-working"></i><span th:text="#{message.broadcast}">Message Broadcast</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="has-dropdown"><i class="ion ion-images"></i><span th:text="#{material.management}">Material Management</span></a>
                        <ul class="menu-dropdown">
                            <li><a href="#" th:value="@{/images}"><i class="ion ion-image"></i><span th:text="#{material.pic.management}">Picture Management</span></a></li>
                            <li><a href="#" th:value="@{/videos}"><i class="ion ion-paintbucket"></i><span th:text="#{material.news.management}">News Management</span></a></li>
                        </ul>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="main-content" id="main-content">
        </div>
        <footer class="main-footer">
            <div class="footer-left text-center">
                Copyright &copy; 2020 ZERO
                <div class="footer-right"></div>
            </div>
        </footer>
    </div>
</div>

<script th:src="@{/static/js/scripts.js}"></script>
<script th:src="@{/static/js/custom.js}"></script>
<script th:src="@{/static/js/demo.js}"></script>

<script>
    $(function () {
        $("#main-content").load("/dashboard");

        $("ul.menu-dropdown li a").on("click", function () {
            var _url = $(this).attr("value");
            console.log(_url);
            $("#main-content").load(_url);
        })

    });
</script>
</body>
</html>